
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');


body {
background-color: #2c444e;
font-family: 'Raleway', sans-serif;
}

.App {
 background-color: #dcdcdc;
margin: 20px auto;
width: 400px;
padding: 5px 0; 
min-height: 80vh;
border-radius: 15px 90px 0 90px;
box-shadow: #11191d 15px 10px 40px;
background-image: url(1.png);
background-position: right-top; 
background-attachment: fixed;
background-size: cover;
}

.App-box {
display: flex;
justify-content: center;
margin-top: 5px;
padding: 5px;
}

.firstImage{
border-radius: 15px 90px 0 90px;
align-items: flex-end;
box-shadow: #2c444e 15px 10px 40px;
}

h1 {
color: #2c444e;
text-shadow: #ffffff 1px -1px ;
}

li:hover {
background-color: #2c444e6d;
color: white;
font-weight: lighter;
}

.crossed {
text-decoration: line-through 2px #5e1414;
background-color: #ffc8017f;
color: #2c444e;
transition: all 0.8s ease-in-out;
border-bottom: #2c444e95 2px solid;
}

ul, li {
list-style-type: none;
padding: 5px;
margin-bottom: 5px;
color: #2c444e;
font-weight: bold;
flex: 1;

}

input {
padding: 10px;
border: #ffc801 1px solid;
color: #2c444e;
font-family: 'Raleway', sans-serif;
}
.btn-add {
padding: 10px;
color: #dcdcdc;
background-color: #2c444e;
border: 1px solid #ffc801;
font-family: 'Raleway', sans-serif;

}
.btn-del{
padding: 5px;
font-family: 'Raleway', sans-serif;
flex: 1;
background-color: #ffc801;
color: #2c444e;
border: none;
box-shadow: #2c444e 2px -1px 10px;
}


@media all and (max-width: 1000px) {
.App {
 margin: 10px auto;
 width: 400px;
background-position: right; 
background-attachment: fixed;
background-size: 120vmax;

}
}
@media all and (max-width: 600px) {
.App {
 margin: 10px auto;
 width: 500px;
background-position: top; 
background-size: 180vmax;
}
}
@media all and (max-width: 420px) {
.App {
 margin: 10px auto;
 width: 400px;
background-size: 180vmax;
}
}
@media all and (max-width: 375px) {
.App {
 margin: 10px auto;
 width: 370px;
background-size: 180vmax;
}
}
@media all and (max-width: 320px) {
.App {
 margin: 10px auto;
 width: 330px;
background-size: 180vmax;
}
}
@media all and (max-width: 280px) {
.App {
 margin: 10px auto;
 width: 270px;
background-size: 190vmax;
}
}




